@font-face {
    font-family: 'RR';
    src: url(../fonts/Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RS';
    src: url(../fonts/Rubik-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'RL';
    src: url(../fonts/Rubik-Light.ttf) format('truetype');
    font-weight: 300;
}