@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    padding: 15px 30px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.menu__link {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 30px 15px 26px;
    font-family: 'RR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: black;
    transition: 0.4s;
}

.menu__link:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-family: 'RR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    width: 216px;
}

.search__btn {
    border: 1px solid black;
    padding: 8px 17px;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background: black;
    color: white;
    font-family: 'RR';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: 0.3s;
}


.search__btn:hover {
    background: transparent;
    color: black;
}

.banner {
    background: url(../img/bg.png) no-repeat top/cover;
    height: 100vh;
}

.banner__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.banner__h {
    font-family: 'RS', sans-serif;
    font-size: 59px;
    font-weight: 600;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

.banner__devis {
    font-family: 'RL', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    text-transform: uppercase;
    color: white;
}

.cards__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    flex-basis: 25%;
    background: #181D28;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 24px;
    transition: 0.3s;
}

.card__h {
    font-family: 'RS', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.card:hover {
    background: #6B4B6B;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}

.info {
    padding: 40px 0;
}

.info__h {
    font-family: 'RS', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.info__p {
    font-family: 'RR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-bottom: 18px;
}

.ads__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shoes {
    padding: 40px 0;
}

.shoes__h {
    font-family: 'RS', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.shoes__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px 0;
    flex-wrap: wrap;
}

.list__item {
    flex-basis: 20%;

}

.list__link {
    font-family: 'RR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: black;
}

.footer {
    background: #181D28;
    padding: 35px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot__menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.foot__link {
    color: white;
    font-family: 'RR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s;
}

.foot__link:hover {
    color: #c4c4c4;
}